
body {
	background-image: url(../images/concrete_seamless.png);
}

/*body {
	background-image: url(../images/concrete_seamless.png);
	width: 1180px;
}*/

.container {
  width: 960px;
  margin: 0 auto;
  position: relative;
}

header {
	height: 75px;
	background: #fff;
	min-width: 100%;
	/*width: 1190px;*/
	
}

.name {height: 50px;
	   padding: 5px 19px;
	   margin: -12px 25px;
	   color: white;
	   font-family: sans-serif;
	   background: #4aaaa5;
	   font-size: 30px;
	   font-weight: 700;
	   margin-top: 15px;
	   margin-left: 82px;
	   float: left;
	}

.name h1 {
	position: relative;
	top: 12px;
	color: white;
}

.navbar {
 display: inline;
 margin: 54px 103px 0 0;
  0: 20px
 text-decoration: none;
 color: white;
 font-size: 20px;
 text-decoration: none;
 min-width: 50px;
 float: right;
}

.navbar li {
	display: inline;
}

.main {
	width: 650px;
	height: 480px;
	background: white;
	position: absolute;
	top: 35px;
	left: -35px;
	/* float: left; */
	padding: 30px;
}
.main img {
	padding: 25px;
	margin-left: -25px;
	margin-top: -16px;
	}

.main p {
	/*font-family: 'Dosis', sans-serif;*/
	/*font-family: 'Indie Flower', cursive;*/
	font-family: sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
	
}
.main h1 {
	font-size: 30px;
	color: #4aaaa5;
	font-weight: 800;
	margin-left: 0px;
	margin-top: 20px;
}

.main h2 {
	font-size: 30px;
	color: #4aaaa5;
	font-weight: 800;
	margin-left: 0px;
	margin-top: 20px;

}


.about {
	font-size: 30px;
	margin-right: 20px;
	color: #4aaaa5;
	margin-left: 50px;

}

.text {
	float: right;
	width: 350px;
	margin-top: 100px;
	
}
.sidebar {
	width: 270px;
	height: 200px;
	background: white;
	margin-top: 35px;
	position: absolute;
	left: 76%;
	text-align: center;
}
.sidebar h2 {
	font-size: 30px;
	color: #4aaaa5;
	text-align: center;
		
}

.icon li{
	width: 350px;
	height: 150px;
	display: inline;
	list-style-type: none;
	
	
}

.git {
	max-width: 70px;
	text-align: center;
}

footer {
	background: grey;
	height: 80px;
	/*text-align: center;*/
	clear: both;
	top: 800px;
	position: relative;
}
footer p {
	text-align: center;
	padding-top: 35px;
}
h2 {
	font size: 40px;
	color: #4aaaa5;
	font-weight: 800;
}
.input {
	margin-left: 0px;
}

input, textarea {
	width: 638px;
	display: block;
	height: 25px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 5px;
	border: 1px solid #999;
}

textarea {
	height: 180px;
	margin-top: 5px;
	width: 638px;
}

.button {
	background-color: #4aaaa5;
	color: white;
	padding: 10px 32px;
	font-size: 16px;
	width: 65px;
	border: none;
	text-decoration: none;

}

.main-content {
	width: 650px;
	height: 800px;
	background: white;
	position: absolute;
	top: 35px;
	left: -35px;
	/* float: left; */
	padding: 30px;
}

.main-content h1 {
	font-size: 30px;
	color: #4aaaa5;
	font-weight: 800;
	margin-left: 0px;
	margin-top: 20px;
}

.main-content img {
	padding-left: 30px;
	margin-bottom: 15px;
	margin-top: 30px;
}
.citya {
	margin-bottom: 5px;
}
